.wrapper {
  min-width: 200px;
  flex-basis: 250px;
  display: flex;
  align-self: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: var(--color-secondary);
  padding: 24px;
  border-radius: 12px;

  @media (max-width: 45rem) {
    align-self: stretch;
    align-items: center;
  }
}

.heading {
  font-size: calc(18rem / 16);
  margin-bottom: 16px;
}

.item {
  margin-bottom: 8px;
  color: var(--color-grey-700);

  @media (max-width: 45rem) {
    text-align: center;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  &:hover {
    color: var(--color-white);
    cursor: pointer;
  }

  &.active {
    color: var(--color-highlight);
    font-weight: var(--font-weight-body-bold);
  }
}
