#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.heading {
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight-heading);
  margin-bottom: 20px;
  color: var(--color-tertiary);

  @media (max-width: 37.5rem) {
    text-align: center;
  }
}

.wrapper {
  padding: 50px 110px;

  @media (max-width: 37.5rem) {
    display: none;
  }
}

.mobile-wrapper {
  display: none;

  @media (max-width: 37.5rem) {
    display: block;
    padding: 20px 20px;
  }
}
